<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dd.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="mapper.Student">
    <id column="file_id" jdbcType="BIGINT" property="file_id" />
    <result column="file_type" jdbcType="BOOLEAN" property="file_type" />
    <result column="file_key" jdbcType="BIGINT" property="file_key" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="update_time" jdbcType="TIMESTAMP" property="update_time" />
  </resultMap>
  <sql id="Base_Column_List">
    file_id, file_type, file_key, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dd_data
    where file_id = #{file_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dd_data
    where file_id = #{file_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="mapper.Student">
    insert into dd_data (file_id, file_type, file_key, 
      create_time, update_time)
    values (#{file_id,jdbcType=BIGINT}, #{file_type,jdbcType=BOOLEAN}, #{file_key,jdbcType=BIGINT}, 
      #{create_time,jdbcType=TIMESTAMP}, #{update_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="mapper.Student">
    insert into dd_data
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="file_id != null">
        file_id,
      </if>
      <if test="file_type != null">
        file_type,
      </if>
      <if test="file_key != null">
        file_key,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="update_time != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="file_id != null">
        #{file_id,jdbcType=BIGINT},
      </if>
      <if test="file_type != null">
        #{file_type,jdbcType=BOOLEAN},
      </if>
      <if test="file_key != null">
        #{file_key,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        #{update_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="mapper.Student">
    update dd_data
    <set>
      <if test="file_type != null">
        file_type = #{file_type,jdbcType=BOOLEAN},
      </if>
      <if test="file_key != null">
        file_key = #{file_key,jdbcType=BIGINT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where file_id = #{file_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="mapper.Student">
    update dd_data
    set file_type = #{file_type,jdbcType=BOOLEAN},
      file_key = #{file_key,jdbcType=BIGINT},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      update_time = #{update_time,jdbcType=TIMESTAMP}
    where file_id = #{file_id,jdbcType=BIGINT}
  </update>
</mapper>