<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dd.mapper.StuSignMapper">

    <update id="updateStuSign">
        update dd_net.stusign
        set
            stunum = #{stunum},

            stusignstate = #{signid}
        where
            stunum = #{stunum};
    </update>

    <select id="selectStuSign" resultType="net.dd.pojo.StuSign">
        SELECT * FROM dd_net.stusign;
    </select>
    <select id="selectStuSignByNumber" resultType="net.dd.pojo.StuSign" >
        SELECT *
        FROM dd_net.stusign
        where
        stunum = #{stunum}
    </select>


</mapper>