<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.dd.mapper.TeacherMapper">
    <resultMap id="TeacherMapper" type="net.dd.pojo.Teacher">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="roles" jdbcType="TINYINT" property="roles"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="active_codes" jdbcType="VARCHAR" property="activeCodes"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
    </resultMap>

    <insert id="AdminaddTeacher">
        insert into dd_net.teacher
            (username, password, teachernum, email, status)
        values
            (#{username}, #{password}, #{teachernum}, #{email}, 1);
    </insert>

    <insert id="registTeacher">
        insert into dd_net.teacher
            (username, password, active_codes, email)
        values
            (#{username}, #{password}, #{activeCodes}, #{email});
    </insert>

    <update id="AdminupdateTeacher">
        update dd_net.teacher
        set username = #{username},
            password = #{password},
            email = #{email},
            update_time = now()
        where
            teachernum = #{teachernum};
    </update>

    <update id="updateTeacher">
        update dd_net.teacher
        set username = #{username},
            password = #{password},
            update_time = now()
        where
            id = #{id};
    </update>
    <select id="teacherLoginCheck" resultType="net.dd.pojo.Teacher">
        select *
        from dd_net.teacher
        where
        username = #{username}
        and
        password = #{password}
        and
        status = 1;
    </select>
    <delete id="AdmindeleteTeacher">
        delete from
        dd_net.teacher
        where teachernum = #{teachernum};
    </delete>

    <update id="deleteTeacher">
        update dd_net.teacher
        set is_deleted = 1,
            update_time = now()
        where id = #{id}
        and status = 1;
    </update>
    <update id="modify">
        update dd_net.teacher
        set status = #{status},
            active_codes = '',
            update_time = now()
        where active_codes = #{activeCodes};
    </update>
    <select id="selectTeacher" resultType="net.dd.pojo.Teacher">
        select *
        from dd_net.teacher
        where status = 1;
    </select>
    <select id="selectTeacherByName" resultType="net.dd.pojo.Teacher">
        select *
        from dd_net.teacher
        where username like concat('%', #{username}, '%')
        and status = 1;
    </select>
    <select id="selectTeacherByNumber" resultType="net.dd.pojo.Teacher">
        select *
        from dd_net.teacher
        where  teachernum = #{teachernum};
    </select>
    <select id="registCheck" resultType="net.dd.pojo.Teacher">
        select *
        from dd_net.teacher
        where active_codes = #{activeCode};
    </select>

</mapper>